<h1>Edit Profile</h1>

<% if @student.errors.any? %>
  <% @student.errors.full_messages.each do |error| %>
    <p class='alert alert-danger'> <%= error %> </p>
  <% end %>
<% end %>

<%= form_with model: @student, method: :patch, local: true do |f| %>

  <%= f.label :name %> <br>
  <%= f.text_field :name %> <br>
  <%= f.label :email %> <br>
  <%= f.email_field :email %> <br>
  <%= f.label :password %> <br>
  <%= f.password_field :new_password %> <br>
  <%= f.label :password_confirmation %> <br>
  <%= f.password_field :password_confirmation %> <br>

  <br>
  <%= f.submit %>
<% end %>
