<h1> Result </h1>

<table>
  <tr>
    <th> Total </th>
    <th> Marks Scored </th>
  </tr>

  <tr>
    <td> <%= @result&.total_marks %> </td>
    <td> <%= @result&.obtained_marks %> </td>
  </tr>
</table>
<hr>

<% @exam&.mcqs&.each_with_index do |mcq, i| %>
  <p class='alert alert-secondary'> Question#<%= i + 1 %>. <%= mcq.question %> </p>
  <p>1. <%= mcq.option1 %> </p>
  <p>2. <%= mcq.option2 %> </p>
  <p>3. <%= mcq.option3 %> </p>
  <p>4. <%= mcq.option4 %> </p>

  <% if mcq.correct_option != @result.mcq_answers[i].answer%>
    <p class='alert alert-danger'> Selected: <%= @result.mcq_answers[i].answer %> </p>
    <p class='alert alert-primary'> Correct: <%= mcq.correct_option %> </p>
  <% else %>
    <p class='alert alert-success'> Correct: <%= @result.mcq_answers[i].answer %> </p>
  <% end %>

  <hr>
<% end %>

<% unless @exam.blanks.blank? %>
  <h1> Fill in the blanks </h1>
<% end %>

<% @exam&.blanks&.each_with_index do |blank, i| %>
  <p class='alert alert-secondary p-without-newline'> Question#<%= i + 1 %>. </p>
  <p class='p-without-newline'> <%= blank&.text_before %> </p>
  <p class='alert alert-secondary p-without-newline'> </p>
  <p class='p-without-newline'> <%= blank&.text_after %> </p>

  <% if blank.answer.downcase != @result.blank_answers[i].answer.downcase %>
    <p class='alert alert-danger'> Answered: <%= @result.blank_answers[i].answer %> </p>
    <p class='alert alert-primary'> Correct: <%= blank.answer %> </p>
  <% else %>
    <p class='alert alert-success'> Correct: <%= blank.answer %> </p>
  <% end %>

  <hr>
<% end %>
