<h1> Attempt Exam </h1>

<% if @result&.errors&.any? %>
  <% @result.errors.full_messages.each do |error| %>
    <p class='alert alert-danger'> <%= error %> </p>
  <% end %>
<% end %>

<%= form_with model: @result, url: results_path, local: true do |f| %>
  <%= f.hidden_field :student_id, value: current_user.id %>
  <%= f.hidden_field :schedule_id, value: @schedule.id %>
  <%= f.hidden_field :exam_id, value: @schedule.exam_id %>
  <%= f.hidden_field :total_marks, value: @exam.marks %>

  <% if @exam.mcqs.any? %>
    <h3> MCQs </h3>
  <% end %>

  <% counter = 1 %>
  <% @exam.mcqs.each do |mcq| %>
    <%= render 'mcq', mcq: mcq, counter: counter, f: f %>
    <% counter += 1 %>
  <% end %>

  <% if @exam.blanks.any? %>
    <h3> Fill in the Blanks </h3>
  <% end %>

  <% counter = 1 %>
  <% @exam.blanks.each do |blank| %>
    <%= render 'blank', blank: blank, counter: counter, f: f %>
    <% counter += 1 %>
  <% end %>

  <%= f.submit 'Submit'%>
<% end %>

