<p class='alert alert-secondary mt-2'> Question#<%= counter %>. <%= mcq.question %> [ <%= mcq.marks %> ] </p>
<p>1. <%= mcq.option1 %> </p>
<p>2. <%= mcq.option2 %> </p>
<p>3. <%= mcq.option3 %> </p>
<p>4. <%= mcq.option4 %> </p>

<% unless current_user.Student? %>
  <p class='alert alert-success m-2'> Option <%= mcq.correct_option %> </p>
<% end %>
<hr>
