<h1> Create Exam </h1>

<% if @exam.errors.any? %>
  <% @exam.errors.full_messages.each do |error| %>
    <p class='alert alert-danger'> <%= error %> </p>
  <% end %>
<% end %>

<%= form_with model: @exam, local: true do |f| %>
  <%= f.hidden_field :teacher_id, value: current_user.id %>

  <%= f.label :subject %> <br>
  <%= f.select :subject_id, subjects_list %> <br>

  <%= f.label :title %> <br>
  <%= f.text_field :title, required: true %> <br>

  <h4> MCQs </h4>

  <div class='mcq-fields'>
    <%= f.fields_for :mcqs do |mcq| %>
    <% end %>
  </div>

  <h4> <%= f.label :fill_in_the_blank %> </h4>

  <div class='blank-fields'>
    <%= f.fields_for :blanks do |blank| %>
    <% end %>
  </div>

  <%= link_to_add_association 'Add Mcq', f, :mcqs, class: 'btn btn-primary mb-2', data: {
    association_insertion_node: '.mcq-fields', association_insertion_method: :append
  } %>

  <%= link_to_add_association 'Add FITB', f, :blanks, class: 'btn btn-primary mb-2', data: {
    association_insertion_node: '.blank-fields', association_insertion_method: :append
  } %>

  <br>
  <%= f.submit %>
<% end %>

